<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        table,td,th{
            border: 1px solid black;
        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Lista de usuários</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>

        </tr>
        <tr>
            <%for(usuario of Usuarios){%>
            <td><%=ususario._id%></td>
            <td><%=ususario._nome%></td>
            <td><%=ususario._email%></td>
            <td><%=ususario._foto%></td>
            <td>
                <a href="/del/<%=ususario._id%>">Deletar</a>
            </td>
            <td>
                <a href="/edit/<%=ususario._id%>">Editar</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>