
   <%-include('cabecalho.ejs')%>
   <form method="POST">
        Pesquisar:<input type="text" name="txtPesquisa" placeholder="Pesquisar">
        <input type="submit" value="Pesquisar">

    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>

        </tr>
        <tr>
            <%for(usuario of Usuarios){%>
            <td><%=ususario._id%></td>
            <td><%=ususario._nome%></td>
            <td><%=ususario._email%></td>
            <td><img class="foto" src="/fotos/<%=ususario._foto%>"/></td>
            <td>
                <a href="/del/<%=ususario._id%>">Deletar</a>
            </td>
            <td>
                <a href="/edit/<%=ususario._id%>">Editar</a>
            </td>
        </tr>
        <% } %>
    </table>
    <%-include('rodape.ejs')%>
